<footer>
  <div>
    <div>
      <div>&copy; 2023 Airbnb, Inc. &sdot; &nbsp;</div>
      <div class="priv">
        <a href="#">Privacy</a> &sdot; <a href="#">Terms</a> &sdot;
        <a href="#">Help</a> &sdot;
        <a href="#">Details</a>
      </div>
    </div>
    <div>
      <div class="eng-in">
        <i class="fa-solid fa-globe me-1"></i>
        <div class="main-light">English (IN)</div>
      </div>
      <div>₹ INR</div>
      <div class="social-icon">
        <a target="_blank" href="https://github.com">
          <img src="/github.png" alt="GitHub" />
        </a>
        <a target="_blank" href="https://www.linkedin.com/in">
          <img src="/linkedIn.png" alt="LinkedIn" />
        </a>
        <a target="_blank" href="https://www.instagram.com">
          <img src="/instagram.png" alt="Instagram" />
        </a>
        <a target="_blank" href="https://www.facebook.com">
          <img src="/facebook.png" alt="Facebook" style="padding: 1px" />
        </a>
        <a target="_blank" href="#">
          <img src="/twiter.png" alt="Twitter" />
        </a>
      </div>
    </div>
  </div>
</footer>
