<% layout("/layouts/boilerplate")%>
<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h2>Creating Listing</h2>
    <form method="POST" action="/listings" enctype="multipart/form-data">
      <div>
        <label for="title">Title:</label>
        <input
          type="text"
          class="form-control"
          name="listing[title]"
          placeholder="Enter title"
          required
        />
        <br />
      </div>
      <div>
        <label for="Description">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          placeholder="Enter description"
          required
        ></textarea>
        <br />
      </div>
      <div>
        <label for="image">Image Link</label>
        <input
          type="text"
          class="form-control"
          name="listing[image][url]"
          placeholder="Enter image URL/Link"
          required
        />
        <br />
      </div>
      <div>
        <label for="image">Upload Image</label>
        <input
          type="file"
          class="form-control"
          name="listing[image][url]"
          placeholder="Enter image URL/Link"
        />
        <br />
      </div>
      <div>
        <label for="price">Price</label>
        <input
          type="number"
          class="form-control"
          name="listing[price]"
          placeholder="1999"
          required
        />
        <br />
      </div>
      <div>
        <label for="location">Location</label>
        <input
          type="text"
          class="form-control"
          name="listing[location]"
          placeholder="Delhi"
          required
        />
        <br />
      </div>
      <div>
        <label for="country">Country</label>
        <input
          type="text"
          class="form-control"
          name="listing[country]"
          placeholder="India"
          required
        />
        <br />
      </div>

      <button class="btn btn-dark add-btn">Add Listing</button>
    </form>
  </div>
</div>
